.image-row {
  white-space: nowrap;
  margin-bottom: 10px;
}

.image {
  display: inline-block;
  margin-right: 10px;
}

.selected-image-container {
  position: relative; /* Changed to relative positioning */
  margin-top: 20px; /* Adjust margin as needed */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: -5px 0 10px rgba(0, 0, 0, 0.2);
  z-index: 999;
  transform: translateY(100%); /* Changed to translateY */
  transition: transform 0.3s ease-in-out;
}

.selected-image-container.active {
  transform: translateY(0); /* Changed to translateY */
}

.selected-image img {
  border: 2px solid #007bff;
  border-radius: 5px;
  max-width: 100%;
  max-height: calc(100% - 40px); /* Adjusted for padding */
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 30px;
}
